/* .header-content {
 	float: left;
 	margin: 30px;
}

.header {
	height:80px;
    background:#F0F0F0;
    border:1px solid #CCC;
    border-radius: 10px;
    width:960px;
    margin:0px auto;
} */